@use "./components/_ex1.scss";

body {
  margin: 0;
  background-color: grey;
}

.page-wrap {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.main {
  &__box-left {
    background-color: hsl(31, 77%, 52%);
  }
  &__box-mid {
    background-color: hsl(184, 100%, 22%);
  }
  &__box-right {
    background-color: hsl(179, 100%, 13%);
  }
}
