<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="shortcut icon"
      href="/components/ex1/favicon-32x32.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Order summary component</title>
  </head>
  <body>
    <div class="page-wrap-ex1">
      <card class="card-wrap-ex1">
        <main class="card-wrap-ex1-main">
          <div class="card-wrap-ex1-main__image-container">
            <img src="/components/ex1/illustration-hero.svg" />
          </div>
          <section class="card-wrap-section">
            <h3>Order Summary</h3>
            <p>
              You can now listen to millions of songs, audiobooks, and podcasts
              on any device anywhere you like!
            </p>
            <div class="card-wrap-section__payment">
              <img src="/components/ex1/icon-music.svg" />
              <div class="card-wrap-section__annual">
                <span>Annual Plan</span>
                <span>$59.99/year</span>
              </div>
              <a href="#"><span>Change</span></a>
            </div>
            <button class="card-wrap-section__pay-button">
              Proceed to Payment
            </button>
            <button class="card-wrap-section__cancel-button">
              Cancel Order
            </button>
          </section>
        </main>
      </card>
    </div>
  </body>
</html>
