body {
  margin: 0;
  box-sizing: border-box;
}

.page-wrap-ex1 {
  height: 100vh;
  width: 100vw;
  background-color: hsl(225, 100%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrap-ex1 {
  width: 90vw;
  height: 80vh;
  border-radius: 20px;
  background-color: white;
  @media (min-width: 1000px) {
    width: 30vw;
    height: 70vh;
  }
}
.card-wrap-ex1-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__image-container {
    object-fit: contain;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px 20px 0 0;
    }
  }
}
.card-wrap-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h3 {
    font-family: "Red Hat Display", sans-serif;
    color: black;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0;
  }
  p {
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-size: 1rem;
    margin: 0 20%;
  }
  &__payment {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    width: 80%;
    border-radius: 25px;
    div {
      display: flex;
      flex-direction: column;
    }
    div > span:first-child {
      font-family: "Red Hat Display", sans-serif;
      color: black;
      font-weight: 700;
      font-size: 1rem;
    }
    div > span:last-child {
      font-family: "Red Hat Display", sans-serif;
      color: hsl(224, 23%, 55%);
      font-weight: 700;
      font-size: 1rem;
    }
  }
  button {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    width: 80%;
    height: 10%;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
  }
  &__pay-button {
    color: white;
    background-color: hsl(245, 75%, 52%);
  }
  &__cancel-button {
    color: hsl(224, 23%, 55%);
    background-color: transparent;
  }
}
