.page-wrap-ex1 {
  background-color: hsl(225, 100%, 94%);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.main-ex1 {
  flex-direction: column;
  width: 90%;
  height: 80%;
}
