body {
  margin: 0;
  box-sizing: border-box;
}

.page-wrap-ex1 {
  background-color: hsl(225, 100%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrap-ex1 {
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 10% 10%;
  justify-content: center;
  align-items: center;
  &__header {
    width: 100%;
    height: 100%;
    margin: 0;
    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }
  &__main {
    background-color: white;
    margin: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    * {
      margin: 5% 0;
    }
    p {
      flex: 1;
      text-align: center;
      font-family: "Red Hat Display", sans-serif;
      color: hsl(224, 23%, 55%);
      font-weight: 500;
    }
    button {
      flex: 1;
      height: 60%;
      width: 80%;
      border: none;
    }
    h3 {
      flex: 1;
      font-family: "Red Hat Display", sans-serif;
      color: black;
      font-weight: 500;
    }
  }
  &__payment {
    margin: 5% 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    background-color: hsl(225, 100%, 98%);
    flex: 1;
  }
  &__annual {
    display: flex;
    flex-direction: column;
  }
  &__pay-button {
    background-color: hsl(245, 75%, 52%);
    border-radius: 25px;
  }
  &__cancel-button {
    background-color: white;
  }
}

@media (min-width: 1000px) {
  .page-wrap-ex1 {
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
  }
  .content-wrap-ex1 {
    width: 40%;
    height: 300px;
    margin: 0;
    margin-top: 5%;
    &__header {
      width: 100%;
      height: 60%;
      margin: 0;
      img {
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }
    &__main {
      background-color: white;
      margin: 0;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 0 20%;
      }
      h3 {
        margin: 0;
        flex: none;
      }
    }
    &__payment {
      margin: 0;
    }
    button {
      margin: 0;
    }
    &__pay-button {
      height: 50%;
    }
  }
}
