@import "./_ex1_mixins.scss";

.page-wrap {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  flex-direction: column;
  width: 100%;
  height: 100%;
  @media (min-width: 1000px) {
    width: 50vw;
    height: 50vh;
    display: flex;
  }
  &__box-left {
    @include box(hsl(31, 77%, 52%), 20px 0 0 20px);
    button {
      @include normal-button(hsl(31, 77%, 52%));
    }
  }
  &__box-mid {
    @include box(hsl(184, 100%, 22%), 0 0 0 0);
    button {
      @include normal-button(hsl(184, 100%, 22%));
    }
  }
  &__box-right {
    @include box(hsl(179, 100%, 13%), 0 20px 20px 0);
    button {
      @include normal-button(hsl(184, 100%, 22%));
    }
  }
  img {
    width: 40%;
    height: 30%;
  }
  h2 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
  }
  p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
  }
}
// ## Colors

// ### Primary

// Bright orange: hsl(31, 77%, 52%)
// Dark cyan: hsl(184, 100%, 22%)
// Very dark cyan: hsl(179, 100%, 13%)

// ### Neutral

// Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
// Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

// ## Typography

// ### Body Copy

// - Font size: 15px

// ### Font

// - Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
// - Weights: 400

// - Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
// - Weights: 700
