body {
  margin: 0;
  box-sizing: border-box;
}

.page-wrap-ex3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(164, 27%, 19%);
}

.card-wrap-ex3 {
  width: 90vw;
  height: 80vh;
  border-radius: 20px;
  background-color: white;
  @media (min-width: 1000px) {
    width: 30vw;
    height: 70vh;
  }
}

.card-wrap-ex3-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__image-container {
    flex: 1;
  }
  &__top-section-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid hsl(0, 0%, 59%);
  }
  &__bot-section-container {
    flex: 1;
    display: flex;
    align-items: center;
  }
  &__name-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__data-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      text-align: center;
    }
  }
  &__data-wrap > span:first-child {
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }
  &__data-wrap > span:last-child {
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
  }
  h3 {
    margin: 0;
    margin-top: 30%;
    font-family: "Kumbh Sans", sans-serif;
  }
  &__name-wrap > span {
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kumbh Sans", sans-serif;
  }
  &__top-section-container > span {
    margin-top: 5%;
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    color: hsl(0, 0%, 59%);
    font-size: 1.5rem;
  }
}
