@mixin normal-button($text-color) {
  background-color: white;
  border-radius: 40px;
  border: none;
  color: $text-color;
  width: 80%;
  height: 40%;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
