<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/components/ex3/favicon-32x32.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Profile card component</title>
  </head>
  <body>
    <div class="page-wrap-ex3">
      <card class="card-wrap-ex3">
        <main class="card-wrap-ex3-main">
          <div class="card-wrap-ex3-main__image-container"></div>
          <section class="card-wrap-ex3-main__top-section-container">
            <div class="card-wrap-ex3-main__name-wrap">
              <h3>Victor Crest</h3>
              <span>26</span>
            </div>
            <span>London</span>
          </section>
          <section class="card-wrap-ex3-main__bot-section-container">
            <div class="card-wrap-ex3-main__data-wrap">
              <span>80K</span>
              <span>Followers</span>
            </div>
            <div class="card-wrap-ex3-main__data-wrap">
              <span>803K</span>
              <span>Likes</span>
            </div>
            <div class="card-wrap-ex3-main__data-wrap">
              <span>1.4K</span>
              <span>Photos</span>
            </div>
          </section>
        </main>
      </card>
    </div>
  </body>
</html>
